@font-face {
  font-family: 'Cheddar Jack';
  src: url('Cheddar Jack.eot');
  src: url('Cheddar Jack.eot?#iefix') format('embedded-opentype'),
       url('Cheddar Jack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CheddarJack';
  src: url('CheddarJack.svg#CheddarJack') format('svg'),
       url('CheddarJack.ttf') format('truetype'),
       url('CheddarJack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

