        .underlabelimg {display:none;}
        #pa_orderid {display: none;}
        label[for=pa_orderid] {display: none;}
        p.price {
            font-size: 2em !important;
        }
        .price2 {
            color: rgb(74, 79, 106);
            font-size: 2em !important;
            margin: 10px 0;
        }
        .triangle .price2 * {
            color: rgb(74, 79, 106);
            font-size: 32px;
            margin: 10px 0;
        }
        .triangle .price2 .woocommerce-price-suffix {
            font-size: 19px;
        }
        .name-price {
            float: right;
            font-size: 30px;
            font-weight: bold;
        }
        .variations-table:first-child tr:nth-child(1),
        .variations-table:first-child tr:nth-child(2),
        .variations-table:first-child tr:nth-child(3)
        {
            display: table-row!important;
        }
        .variations .variations_lines:nth-child(1),
        .variations .variations_lines:nth-child(2),
        .variations .variations_lines:nth-child(3)
        {
            display: block!important;
        }
        .product_navigation {display: none}
        .inform {display: none}
        <?php if ($formkey != "" && $product->id != 1520925) { ?>
        .woocommerce-tabs {display:none;}
        <?php } ?>

        .postid-1520925 .triangle .dtext,
        .postid-1520925 .choose-msg,
        .postid-1520925 #varform .triangle > img {
            display: none;
        }
        .postid-1520925 .mspc-pa_stap-3-kleur .steps_custom_container .mspc-variation {
            min-width: 20%;
            max-width: 20%;
        }
        .recently_viewed_in_single_wrapper {display:none;}
        #submit-button-configurator {
            padding: 17px 13px;
            width: 100%;
            white-space: normal;
        }
        .variations_lines > .select_option {float: none;}
        .variations_lines > .select_option .yith_wccl_tooltip {
            left: 0;
            margin-left: 0;
            width: 400px;
        }
        .select_option .yith_wccl_tooltip > span {
            padding: 15px !important;
        }
        a.reset_variations {visibility: hidden !important;}
        .var-tab {
            margin-top: 20px;
        }
        .var-tab tr{
            position: relative;
        }
        .step2 {display: none;}
        .triangle .var-tab label, .triangle .tabl label{
            font-size: 1rem;
        }
        .triangle * {
            font-family: Montserrat,sans-serif;
            font-size: 13px;
            text-transform: none;
        }
        .clear {
            clear: both;
        }
        .single_add_to_cart_button {
            text-transform: none;
        }
                .step1, .step2{
              font-family: "custom-one" !important;
              color:#009DDC;
              font-weight: bold;
              font-size: 14.5px;
        }
        .step1 span, .step2 span{
            font-size:14.5px!important;
        }
        .variations_lines.hidden .label, .variations_lines.hidden .value {
            display: block !important;
        }

        .entry-content.triangle{
            width:auto!important;
        }

        #submit-button-configurator{
            display: none !important;
        }
        table.intable tr {display: table-row;}
        .select_option .yith_wccl_tooltip > span {text-align:left;}
            .dtext {
                line-height: 1.6;
                background-image: url('/wp-content/uploads/2017/02/Zonz-Sail.png');
                background-repeat: no-repeat;
                background-position: left 7px;
                padding-left: 20px;
            }
        #pa_bepaal-je-afmeting option {display:none;}
        .cornerinfo {display:none;}
        .before_breedte label {
            font-size: 1rem;
            text-transform: none;
        }
        .breedte-label {
            display: block;
            text-align: center;
        }
        #w2, #h {
            display: inline-block !important; 
            width: auto !important;
        }